body {
  font-family: serif;
  align-items: center;
  font-size: 1.5em;
}

input {
  border: none;
  outline: none;
  font-size: 13px;
  text-align: center;
}

div {
  text-align: center;
}

li {
  text-align: left;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainHeading {
  justify-content: center;
  padding-left: 45%;
  padding-right: 60%;
}

.textCenter {
  text-align: center;
}

.todoList {
  width: 501px;
}

.flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.todoTitle {
  font-size: 25px;
}

#newTodoDiv {
  margin: auto;
  display: flex;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  background-color: antiquewhite;
}

#addItem {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  width: fit-content;
  background-color: grey;
  font-size: 20px;
  border-radius: 4px;
  border-color: rgb(73, 71, 71);
}

.extractedTodo {
  background-color: #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 5px;
  width: inherit;
  margin-bottom: 7px;
}

.extractedTodo > div {
  width: 95%;
  height: inherit;
  text-align: left;
  font-size: 20px;
  padding: 10px 10px 0px;
  justify-content: space-between;
}

.extractedTodo:hover {
  border-bottom: 2px solid rgba(100, 100, 100, 0.6);
}

#todoItems {
  padding-top: 40px;
  padding-left: 250px;
  padding-right: 250px;
}

.item:hover {
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.639);
  border-radius: 4px;
}

.removeTodoImg {
  width: 4%;
  height: 4%;
  padding: 10px;
}

.removeTodoItemImg {
  width: 2%;
  height: 2%;
  margin: auto 10px;
  display: none;
}

.item:hover > img {
  display: block;
}

html,
body {
  height: 100%;
}

#todoSearch {
  width: 400px;
  height: 25px;
  border: rgba(0, 0, 0, 0.338) solid 1px;
  border-radius: 5px;
  margin: 18px;
}

#searchIcon {
  margin: 1vw;
  width: 2vw;
  height: 7vh;
  position: sticky;
}

#searchBoard {
  position: absolute;
  right: 0vw;
  top: 15vh;
  height: 0vh;
  width: 0vw;
  z-index: 2;
  background-color: #aaa;
  transition: 0.5s;
}

#searchBar {
  margin: 5rem;
}

.highLight {
  color: #ccc;
}

#todoCards {
  display: flex;
  flex-wrap: wrap;
}

.todoCard {
  min-width: 10vw;
  min-height: 20vh;
  margin: 2rem;
  padding: 10px;
  border: 1px solid black;
}

#sideBar {
  width: 30%;
  height: 100%;
  padding: 10px;
  border-right: grey solid 1px;
  padding-right: 20px;
}

#todoBoard {
  width: 70%;
  height: 100%;
  padding: 5% 10%;
}

#addTodoIcon {
  width: 13%;
}

#addTodoDiv {
  background-color: gainsboro;
  border-radius: 6px;
  width: 90%;
}

.heading {
  border-bottom: gray solid 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#todoIndex {
  overflow: scroll;
  height: 500px;
}

#newTodo {
  display: none;
}

#showTodo {
  display: none;
}

.activeTodo {
  background-color: grey;
}

#newTitle,
#newItem {
  border-bottom: 2px solid #aaa;
}

#newTitle,
#newItem:focus {
  border-bottom: 2px solid black;
}

#newTitle {
  width: 25%;
  position: sticky;
  font-size: 1.5rem;
}

#newItem {
  width: 20%;
}

input[type='checkbox'] {
  zoom: 1.2;
}

input:checked + input {
  color: #aaa;
}


.editItemInput {
  padding-left: 10px;
  text-align: left;
  font-size: 1rem;
}

#title {
  font-size: 30px;
  font-weight: bolder;
}
