body {
  font-family: serif;
  align-items: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainHeading {
  justify-content: center;
  padding-left: 45%;
  padding-right: 60%;
}

.textCenter {
  text-align: center;
}

.todoList{
  width: 501px;
}

.displayBox {
  overflow: scroll;
  width: 40vw;
  min-height: 90vh;
  max-height: 90vh;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color:rgba(128, 128, 128, 0.379);
}

.flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.todoTitle {
  font-size: 25px;
}
#newTodoDiv {
  margin: auto;
  display: flex;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  background-color: antiquewhite;
}

.titleInput {
  width :430px;
  border-radius: 5px;
}

.itemInput{
  width: 493px;
  height: 25px;
  margin: 5px;
  border: rgb(57, 53, 53) solid .5px;
  font-size: 14px;
  border-radius: 4px;
}

#addItem {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  width: fit-content;
  background-color: grey;
  font-size: 20px;
  border-radius: 4px;
  border-color: rgb(73, 71, 71);
}

#saveTodoButton{
  background-color: antiquewhite  ;
  width: fit-content;
  height: 32px;
  border-radius: 5px;
  font-size: 13px;
}

.extractedTodo {
  background-color: rgba(128, 128, 128, 0.447);
  border-radius: 5px;
  width: inherit;
  height: fit-content;
  padding-left: 5px;
}

.items {
  background-color: rgba(128, 128, 128, 0.139);
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  display: none;
}
